:root {
    --font-principal: "Poppins", arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    gap: 1rem;
    margin-top: 8rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 50%;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
    text-transform: capitalize;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 226, 183, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.div-filter {
    position: relative;
}

.options {
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 0.5rem;
    top: 2.5rem;
    z-index: 1000;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    padding: 0.5rem;
}

.options.show {
    display: flex;
}

.options p {
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    font-family: var(--font-principal);
    transition: transform 0.1s ease;
}

.options p:hover {
    transform: translateY(-0.1rem);
}

#add-new-budget,
#filter {
    cursor: pointer;
    background-color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 2px;
    padding: 5px;
    transition: transform 0.3s ease;
}

#add-new-budget:hover,
#filter:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 4px;
}

#add-new-budget i,
#filter i {
    font-size: 18px;
}

.principal {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    height: 100em;
    max-height: 25em;
    max-width: 90%;
    border: solid 2px #000;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 50%;
    padding: 1rem;
    transform: translateX(-50%);
    border-radius: 5px;
}

#nothing-budget {
    font-family: var(--font-principal);
    font-weight: 500;
}

.div-budget {
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    padding: 5px 15px 5px 10px;
    width: 100%;
    border: solid 2px #000;
    border-radius: 5px;
    font-family: var(--font-principal);
    text-transform: capitalize;
}

.div-budget p {
    white-space: normal;
    word-wrap: break-word;
}

.div-budget h2 {
    font-weight: normal;
}

.div-budget h2::before {
    content: "#";
}

.pCategory::before {
    content: "Categoria: ";
}

.pBudget-name::before {
    content: "Nome Do Orçamento: ";
}

.remove-button {
    position: absolute;
    justify-self: end;
    font-size: 18px;
    background-color: #fff;
    border: none;
}

@media (max-width: 750px) {
    .remove-button {
        align-self: end;
    }
}

.content {
    display: flex;
    margin: 2rem 0 2rem 50%;
    transform: translateX(-50%);
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 85%;
    padding: 1rem;
    font-family: var(--font-principal);
    border: solid 2px #000;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.numero-orcamentos::before {
    content: "#";
}

.form {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    width: 100%;
    height: auto;
    padding: 1rem;
}

.coolinput {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: static;
    max-width: 100%;
}

.coolinput label {
    font-size: 0.79rem;
    color: #000000;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #fff;
    width: fit-content;
}

.coolinput input[type="text"].input,
.coolinput input[type="number"].input,
.coolinput input[type="tel"].input {
    width: 100%;
    padding: 11px 10px;
    font-size: 17px;
    border: 2px #000000 solid;
    border-radius: 5px;
    background: #fff;
}

.coolinput input[type="text"].input:focus {
    outline: none;
}

.obs {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    width: 100%;
    position: static;
    max-width: 100%;
}

.obs label {
    font-size: 0.79rem;
    color: #000000;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #fff;
    width: fit-content;
}

#descricao {
    resize: none;
    font-family: var(--font-principal);
    height: 10rem;
    padding: 1rem;
    font-size: 17px;
    border: 2px #000000 solid;
    border-radius: 5px;
    outline: none;
    text-transform: capitalize;
}

.button-budget {
    grid-column: 1 / -1;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
    border: 2px #000000 solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    outline: none;
    transition: transform 0.3s ease;
}

.button-budget:hover {
    transform: scale(0.99);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.data {
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: 18px;
}

.data::before {
    content: "Data De Criação: ";
}

.number-total::before {
    content: "R$";
}

.total {
    font-size: 18px;
    font-weight: 600;
}

.total::before {
    content: "Total: R$";
}